<html>
  <body>
    <h1> File uploader!
    <form method="post" enctype='multipart/form-data'>
      <select name="orientation" id="orientation">
        <option value="axial" default selected>Axial</option>
        <option value="sagital">Sagital</option>
        <option value="coronal">Coronal</option>
      </select>

      <select name="Structure" id="orientation">
        <option value="hippocampus" default selected>Hippocampus</option>
        <option value="amygdala">Amygdala</option>
        <option value="putamen">Putamen</option>
        <option value="accumbens_nucleus">Accumbens Nucleus</option>
        <option value="caudate_nucleus">Caudate Nucleus</option>
        <option value="pallidum">Pallidum</option>
        <option value="thalamus">Thalamus</option>
      </select>
      
      <input type='file' name='myfile'>      
      <br>
      <input type='submit' value='Upload!'>
      <br>
      <input type='e-mail' name='email'> 
    </form>
  </body>
</html>
